
@{
    ViewBag.Title = "Andrew's Pearson-al Site";
}
@section jumbotron {
    <div class="jumbotron" style="height:900px">
        <div class="container">
            <h1>Andrew Pearson</h1>
            <hr />
            <p class="lead">Full-Stack Developer</p>
        </div>
    </div>
}
<div class="quote--container">
    <p class="quote">
        You're only given a <span class="quote--highlight">spark of madness.</span>You mustn't lose it.
    </p>
    <p class="quote--author">&ndash; Robin Williams</p>
</div>

