
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

@section jumbotron {
    <div class="jumbotron" style="height:300px"></div>
}
<div class="container">
    <div class="col-md-4">
        <a href="http://www.ustore.andrewkpearson.com" target="_blank">Visit My Self-Made Store Page
            <img class="img-responsive" src="~/Content/Images/uStoreSitePhoto.PNG" /></a>
    </div>
</div>