
@{
    ViewBag.Title = "Resume";
}

<h2>R&eacute;sum&eacute;</h2>

@section jumbotron {
    <div class="jumbotron" style="height:300px"></div>
}
<div id="experience" class="container">
    <h2>Education</h2>
    <div class="experience">
        <div class="experience row">
            <div class="col-md-4">
                <h3>Centriq Training</h3>
                <p class="experience period">Sept 2017-Dec 2017</p>
            </div>
            <div class="col-md-8">
                <p>
                    <strong>Full-Stack Developer Course</strong>
                    <span class="experience details"></span>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="col-md-4">
                <h3>Southern Illinois University Edwardsville</h3>
                <p class="experience period">Aug 2009-May 2014</p>
            </div>

            <div class="col-md-8">
                <p>
                    <strong>Bachelor's of Art in Mass Communications &amp; Theater Performance</strong>
                    <span class="experience details"></span>
                </p>
            </div>
        </div>
    </div>
    <h2>Experience</h2>
    <div class="experience">
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Fantasy Books &amp; Games</h3>
                <p class="experience period">May 2016-Oct 2017</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Store Associate</strong>
                    <ul class="experience details">
                        <li>
                            Demonstrated knowledge of popular and upcoming products and events.
                        </li>
                        <li>
                            Organized product for better viewing, and reviewed sales of supply items for weekly reorder.
                        </li>
                        <li>
                            Promoted events and store through social media via Twitter, Instagram, Facebook, and YouTube, and produced videos for company’s YouTube page.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Panera Bread</h3>
                <p class="experience period">Feb 2016-Oct April 2016</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Customer Care Specialist</strong>
                    <ul class="experience details">
                        <li>
                            Corresponded with customers over the phone or email, assisted customer’s queries, escalated situation to proper departments and implemented compensation if needed.
                        </li>
                        <li>
                            Demonstrated knowledge of restaurant menu and rewards.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Photogenic, Inc.</h3>
                <p class="experience period">May 2015-Feb 2016</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Photographer/Sales Associate</strong>
                    <ul class="experience details">
                        <li>
                            Persuaded guests to participate in photo opportunity, photographed guests in select spots at tourist, edited photos, managed photo.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>CliftonLarsonAllen LLP</h3>
                <p class="experience period">March 2015-May 2015</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Administrative Intern</strong>
                    <ul class="experience details">
                        <li>
                            Assembled tax return packages to be mailed out to clients and scanned client documents.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Southern Illinois University Edwardsville</h3>
                <p class="experience period">Oct 2012-July 2014</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Master Electrician</strong>
                    <ul class="experience details">
                        <li>
                            Assisted Lighting Designer during theater productions and events, prepared lighting equipment and programmed lights
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Slam! Agency</h3>
                <p class="experience period">Jan 2014-May 2014</p>
            </div>
            <div class="row col-md-8">
                <p>
                    <strong>Video Production Intern</strong>
                    <ul class="experience details">
                        <li>
                            Assisted Chief Creative, produced and edited video for company website and YouTube to help promote company and mission statement.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="experience row">
            <div class="row col-md-4">
                <h3>Red Lobster</h3>
                <p class="experience period">Nov 2010-Feb 2015</p>
                </div>
            <div class="row col-md-8">
                <strong>Server</strong>
                    <ul class="experience details">
                        <li>
                            Demonstrated knowledge of menu, entering guests’ selection in a timely and precise manner, retrieving and handling guests’ requests with care, and money handling.
                        </li>
                    </ul>
               <p> </p>
            </div>
        </div>

    </div>
</div>
